@import "./variables";

@import "./interface";
@import "./table";
@import "./overlay";

$text-color: rgb(46, 46, 46);

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}

.center-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
}

h2 {
	color: $text-color;
}

form {
	div.form-control {
		margin: 1.5rem;
		font-size: 1rem;
		text-align: center;

		input {
			padding: 0.2rem;
			border: 0px;
			outline: none;
			border-bottom: 1px solid transparent;

			&:invalid:not(:placeholder-shown):not(:focus):not([type="file"]) {
				color: $color-invalid;
				border-bottom-color: $color-invalid;

				& ~ .form-error {
					visibility: visible;
				}
			}

			&:valid ~ .form-error {
				visibility: hidden;
			}
		}

		.form-error {
			text-align: initial;
			font-size: 0.7rem;
			margin: 0.3rem 0px 0px 0.2rem;
			color: $color-invalid;
			visibility: hidden;

			&.force-visible {
				visibility: visible;
			}
		}
	}
}

button, .button {
	cursor: pointer;
	background-color: rgb(50, 85, 243);
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 0.8rem;
	font-family: "Arial";
	border: 0px;
	padding: 0.5rem 2.5rem;
	margin: 0px auto 0px auto;
}

.form-success, .form-failure {
	color: white;
	font-size: 0.8rem;
	border-radius: 3px;
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;

	&.form-success {
		border: 1px solid rgb(55, 68, 250);
		background-color: rgb(82, 93, 250);
	}

	&.form-failure {
		border: 1px solid rgb(250, 39, 39);
		background-color: rgb(255, 65, 65);
	}
}

a {
	color: #4E4E4E;
	font-size: 0.85rem;
}

input[type="checkbox"].toggle {
	display: none;
}
